@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">

    <a class="btn btn-success"
      asp-page="/Domain">Hypertheory Domain</a>
</div>

<div class="text-center">

    <a class="btn btn-primary"
       href="/docs/webpresence/index.html">The Web Presence Bounded Context</a>
</div>
<div class="text-center">

    <a class="btn btn-primary"
       href="/docs/customers/index.html">The Customers Bounded Context</a>
</div>

<div class="text-center">

    <a class="btn btn-primary"
       href="/docs/training/index.html">The Training Bounded Context</a>
</div>
