@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hypertheory Training!</h1>
    <p>Where all of your software development dreams can become <em>reality</em>.</p>
</div>
