@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ok, seriously, don't put anything real or personal here. This is just a sample application for a training class.</p>
